{% extends 'assessment_base.html' %}

{% block content %}
<table>
    {% for instance in object_list %}
    {% if forloop.first %}
    <tr>
        {% for fieldname in headers %}<th>{{ fieldname }}</th>{% endfor %}
        <th>Actions</th>
    </tr>
    {% endif %}
    <tr>
        {% for value in instance.values %}<td>{{ value }}</td>{% endfor %}
        <td>
            <a href="{{ instance.id }}/">Update indicator</a><br>
            <a href="{{ instance.id }}/calculate/">Calculate original values of indicator</a><br>
            <a href="{{ instance.id }}/results/">Show results from database</a><br>
        </td>
    </tr>
    {% endfor %}

</table>
<br>
<p>
    <a href="create/">Create new indicator</a>
</p>
{% endblock %}