{% extends 'assessment_base.html' %}

{% block content %}
<table>
    {% for instance in object_list %}
    {% if forloop.first %}
    <tr>
        {% for fieldname in instance.keys %}<th>{{ fieldname }}</th>{% endfor %}
        <th>Actions</th>
    </tr>
    {% endif %}
    <tr>
        {% for value in instance.values %}<td>{{ value }}</td>{% endfor %}
        <td>
            <a href="{{ instance.ID }}/roleassignments/">Show assigned users</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}