Django>=2.2.13,<2.3.0
mysql-connector-python>=8.0.20,<8.1.0
django_ace>=1.0.7,<1.1.0
celery >=4.4.7, <4.5.0
django-celery-beat
cassandra-driver==3.13.0
django-cassandra-engine==1.4.0
django-environ>=0.4.5,<0.5