{% extends 'assessment_base.html' %}

{% block content %}
<table>
    {% for instance in object_list %}
    {% if forloop.first %}
    <tr>
        {% for fieldname in headers %}<th>{{ fieldname }}</th>{% endfor %}
        <th colspan="5">Schedule</th>
        <th>Enabled</th>
        <th>Actions</th>
    </tr>
    {% endif %}
    <tr>
        {% for value in instance.values %}<td>{{ value }}</td>{% endfor %}
        <td>
            <a href="{{ instance.id }}/construct-update/">Update construct</a><br>
            <a href="{{ instance.id }}/schedule-update/">Update schedule</a><br>
            {% if instance.periodictask__enabled == True %}
                <a href="{{ instance.id }}/status-update/">Disable assessment</a><br>
            {% else %}
                <a href="{{ instance.id }}/status-update/">Enable assessment</a><br>
            {% endif %}
            <a href="{{ instance.id }}/delete/">Delete construct</a><br>
            <a href="{{ instance.id }}/indicators/">Show assigned indicators</a><br>
            <a href="{{ instance.id }}/indicator_values/">Calculate values of assigned indicators</a><br>
            <a href="{{ instance.id }}/calculate/">Calculate values of construct</a><br>
            <a href="{{ instance.id }}/results/">Show results from database</a><br>
        </td>
    </tr>
    {% endfor %}

</table>
<br>
<p>
    <a href="create/">Create new construct</a>
</p>
{% endblock %}